*.cbt
/opencv-project-team_4/opencv-project-team_4/x64/Debug/qt/qmake/41b4fbd25f4b4db3961bd45a652feb17
/opencv-project-team_4/opencv-project-team_4/x64/Debug/qt
/opencv-project-team_4/opencv-project-team_4/x64/Release
/opencv-project-team_4/opencv-project-team_4/x64/Debug
/opencv-project-team_4/opencv-project-team_4/opencv-p.383f0bbb/x64/Release/qt
/opencv-project-team_4/opencv-project-team_4/opencv-p.383f0bbb/x64/Debug
/opencv-project-team_4/opencv-project-team_4/opencv-p.383f0bbb
/opencv-project-team_4/opencv-project-team_4
/opencv-project-team_4/application_Team4/x64/Debug
/opencv-project-team_4/.vs/opencv-project-team_4.slnx/v18/ipch
/opencv-project-team_4/.vs/opencv-project-team_4
/opencv-project-team_4/opencv-project-team_4
/opencv-project-team_4/.vs/opencv-project-team_4.slnx
/opencv-project-team_4/opencv-project-team_4
/opencv-project-team_4/.vs/opencv-project-team_4.slnx
